<div class="form-group">
    <label for="input_chars_identification_model">Pretrained Character Identification Models</label>
    <select class="form-control" id="input_chars_identification_model" name='input_chars_identification_model' required>
      <option value=''>--- select model ---</option>
      {% for model_tokoh in character_identification_models %}
        <option value='{{ model_tokoh }}' 
        {% ifequal request.POST.input_chars_identification_model model_tokoh  %} 
          selected
        {% endifequal %}
          >{{model_tokoh}}</option>
      {% endfor %}
    </select>
    {% for key, pretrained_model_name in pretrained_models.items %}
    <div class="form-check">
        <input 
        class="form-check-input" 
        type="radio" 
        name="pretrained_chars_identification" id="pretrained_chars_identification{{ key }}}" 
        value="{{ key }}" 
        {% ifequal request.POST.pretrained_chars_identification key %} 
        checked
        {% endifequal %}
        required
        >
        <label class="form-check-label" for="pretrained_chars_identification{{ key }}}">
        {{ pretrained_model_name }}
        </label>
    </div>
    {% endfor %}
</div>