.navbar {
  z-index: 10000;
  transition: background-color 0.5s ease;
}
.navbar.scrolled {
  background-color: #212529; /* Change to your desired background color */
}
.navbar-brand {
  font-family: Viga;
  font-size: 1.5rem;
}
.navbar-brand,
.nav-link {
  color: white !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

/* Media untuk dekstop 992px */
@media (min-width: 992px) {
  /* Navbar */
  /* Navlink uppercase */
  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }

  /* Tombol Navbar aktif */
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid rgb(114, 36, 187);
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
}
