{% load static %}
<!-- START THE FEATURETTES -->
<hr class="featurette-divider" id='try-framework'>
<div class="row featurette d-flex justify-content-center" >
  <div class="col-md-7 align-items-center align-content-center">
    <h2 class="featurette-heading" >Try our initial framework. <span class="text-muted">Input your Balinese story below!</span></h2>
    <form
    id="form-input-try-initial-framework" 
    class="form-horizontal form-label-left" 
    method='post'
    action="{% url 'narratives:chars_classify' %}"
    >
    {% csrf_token %}
        <div class="form-group">
            <textarea 
            class="form-control custom-textarea" 
            id="inputText"
            name="input_story" 
            rows="13"></textarea>
        </div>
        <button type="submit" class='btn btn-success' name='btnTryInitialFramework' value='submit'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-arrow-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15.854.146a.5.5 0 0 1 .11.54l-2.8 7a.5.5 0 1 1-.928-.372l1.895-4.738-7.494 7.494 1.376 2.162a.5.5 0 1 1-.844.537l-1.531-2.407L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM5.93 9.363l7.494-7.494L1.591 6.602z"/>
            <path fill-rule="evenodd" d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.354a.5.5 0 0 0-.722.016l-1.149 1.25a.5.5 0 1 0 .737.676l.28-.305V14a.5.5 0 0 0 1 0v-1.793l.396.397a.5.5 0 0 0 .708-.708z"/>
          </svg>&nbsp;Submit</button>
    </form>
  </div>
  <div class="col-md-5 align-items-center align-content-center">
    <img 
    src="{% static '/img/features/features1.jpg' %}" 
    alt="Features-1 Image"
    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
    width="400" 
    height="400"
    focusable="false" 
    role="img"
    >
  </div>
</div>

<hr class="featurette-divider">
<div class="row featurette d-flex justify-content-center">
  <div class="col-md-7 align-items-center align-content-center order-md-2">
    <h2 class="featurette-heading">Have any ideas? <span class="text-muted">Send us your feedbacks!</span></h2>
    <form>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="inputFeedbacks">Your Feedbacks</label>
            <textarea class="form-control" id="inputFeedbacks" rows="8"></textarea>
          </div>
        <button type="submit" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-plus" viewBox="0 0 16 16">
                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372zm-2.54 1.183L5.93 9.363 1.591 6.602z"/>
                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5"/>
              </svg>&nbsp; Send
        </button>
    </form>
  </div>
  <div class="col-md-5 order-md-1 align-items-center align-content-center">
    <img 
    src="{% static '/img/features/features2.jpg' %}" 
    alt="Features-2 Image"
    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
    width="400" 
    height="400"
    focusable="false" 
    role="img"
    >
  </div>
</div>

<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->